/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Google Font self-host stuff begin */

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/resources/fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('/resources/fonts/roboto-v29-latin-regular.woff') format('woff');
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        /* Support variable weight, if possible */
        url('/resources/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/resources/fonts/roboto-slab-v16-latin-regular.woff2') format('woff2'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('/resources/fonts/roboto-slab-v16-latin-regular.woff') format('woff');
}

/* Google Font self-host stuff end */

:root {
    --gray0: #f8f8f8;
    --gray1: #eaeaea;
    --gray2: #cfcfcf;
    --gray3: #a6a6a6;
    --gray4: #545454;
    --gray5: #292a2c;
    --gray6: #212223;

    /* Default dark theme */
    color-scheme: dark;
    --bg-nav: var(--gray6);
    --bg-content: var(--gray5);
    --text: var(--gray1);

    --code-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --serif-font: 'Roboto Slab', serif;
    --sans-font: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

    --page-maxwidth: 1080px;
    --scrollbar-gutter-width: 0px;
    --blog-snippet-height: 180px;
    --border-radius: 4px;

    font-size: 16px;
}

.light-theme {
    color-scheme: light;
    --bg-nav: var(--gray0);
    --bg-content: var(--gray1);
    --text: var(--gray6);
}

body {
    text-rendering: optimizeLegibility;

    font-family: var(--sans-font);
    line-height: 1.5;
    color: var(--text);
    background: var(--bg-content);

    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: underline;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

abbr[title] {
    text-decoration: underline dotted;
    /* Allow ::after to position itself relative to this size */
    position: relative;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
    content: attr(title);
    position: absolute;
    background-color: var(--bg-nav);
    border: 1px solid var(--text);
    padding: 0 0.2em;
    left: 0;
    top: 100%;
}

code {
    font-family: var(--code-font);
    background-color: var(--bg-nav);
    padding: 2px var(--border-radius);
    border-radius: var(--border-radius);
}

pre {
    border-left: 1px solid currentColor;
    border-radius: var(--border-radius);
    padding: 0.5em 0 0.5em 1em;
    background-color: var(--bg-nav);
    overflow-x: auto;
    margin-bottom: 1em;
}

kbd {
    margin: 0 0.1em;
    padding: 0.1em 0.3em;
    font-family: var(--code-font);
    box-shadow: 0 2px 0 color-mix(in srgb, var(--text) 20%, transparent);
    outline: 1px solid color-mix(in srgb, var(--text) 20%, transparent);
    background-color: var(--bg-nav);
    border-radius: var(--border-radius);
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
}

h1,
h2,
h3 {
    font-family: var(--serif-font);
    font-weight: normal;
    margin: 2rem 0 0.5rem;
}

/* Override user-agent stylings for h1 within articles or sections */
h1 {
    font-size: 2em;
}

article > h1:first-child {
    /* Remove the unnencessary top margin if it's the first child */
    margin-top: 0;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.15em;
}

p {
    margin-block: 1em;
}

ol,
ul {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

input {
    line-height: normal;
    padding: 0.05em 0.025em;
}

button {
    padding: 0 0.35em;
}

/* Special stuff for index.html */
.real-name-title {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
    font-weight: normal;
    line-height: normal;
}

ul.skills-list {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.social-layout {
    margin: 1rem;

    > *:not(:first-child) {
        margin-left: 0.75rem;
    }
}

@keyframes blinkingText {
    0% {
        opacity: 100%;
    }

    49% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

#prompt-input-container {
    background: none;
    font-size: 2rem;
}

#prompt-input {
    caret-color: transparent;
    cursor: default;

    &:focus {
        /* Some browsers (Chromium) show outlines for it */
        outline: none;
    }

    &::before {
        content: '$ ';
    }

    &::after {
        /* No-break space */
        content: "\00a0";
    }

    &:focus-within::after {
        content: '_';
        animation: blinkingText 1.1s infinite;
    }
}

#prompt-output {
    background: none;
}

/* END Special stuff for index.html */

.layout-grid {
    display: grid;

    grid-template-areas:
        "header"
        "content"
        "footer";

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    margin: 0;
    padding: 0;
    /* Prevent footer not being at the bottom of the window for short webpages */
    min-height: 100vh;
    overflow-x: hidden;

    --scrollbar-gutter-width: calc(100vw - 100%)
}

article {
    margin: 0 auto;
    padding: 0 1em;
    max-width: var(--page-maxwidth);
}

header {
    grid-area: header;

    height: 4em;
    max-width: 100%;
}

header,
footer {
    background-color: var(--bg-nav);
    padding: 0.5em 1em;
    z-index: 100;

    /* --page-maxwidth */
    /* Content jumping because of the scrollbar is only an issue when
    page contents are larger than the page-maxwidth */
    @media screen and (min-width: 1080px) {
        padding-left: min(1em, var(--scrollbar-gutter-width));
    }
}

.header-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--page-maxwidth);
    height: 100%;
    margin: 0 auto;
}

.header-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* TODO: Better fix when rewritten, this fixes the left icons not being centered vertically */
    line-height: 0;

    > * {
        display: inline-block;
    }

    > :not(:last-child) {
        border-right: 1px solid;
        padding-right: 1em;
    }

    > :not(:first-child) {
        padding-left: 1em;
    }
}

footer {
    grid-area: footer;
}

.footer-inner {
    width: 100%;
    height: 100%;
    max-width: var(--page-maxwidth);
    margin: 0 auto;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

/* Nav styling */
nav.site-nav {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    display: flex;
    /* Align list content to the right */
    justify-content: flex-end;

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        /* Allow horizontal scrolling of nav content */
        overflow-x: auto;
        overflow-y: hidden;

        > li > a {
            text-decoration: none;
            color: var(--text);
            display: block;
            text-align: center;
            /* Give plenty of padding so the touch target is as big as possible vertically */
            padding: 5rem 1rem;
        }
    }
}

main {
    grid-area: content;
    background-color: var(--bg-content);
    width: 100%;
    margin: 3rem 0;
}

#theme-checkbox[type="checkbox"] {
    /* display: none would disable keyboard tab focusing */
    opacity: 0;

    /* Add a focus outline to the fake checkbox substitute for a11y */
    &:focus-visible + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }

    ~ label::before {
        content: "â—";
        display: inline-block;
        width: 1em;
        text-align: center;
        margin-right: 0.5ch;
    }
}

label[for=theme-checkbox] {
    -webkit-user-select: none;
    user-select: none;
}

.long-equation {
    overflow-x: auto;
    overflow-y: hidden;
}

/* From https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;

    /* Default of 16:9, but can be overriden with style="--aspect-ratio: 4/3;" */
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Page-specific styles */
/* Blog index */
ul.blog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1.5rem;

    > li > a {
        display: grid;
        grid-template-columns: auto 1fr;
        text-decoration: none;
        background: var(--bg-nav);
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}

.blog-snippet-text {
    margin: 1em;
}

.blog-snippet-title {
    margin: 0 0 0.5rem 0;
    text-decoration: underline;
    font-size: 1.rem;
}

.blog-snippet-date {
    margin: 0 0 0.5rem 0;
}

.blog-snippet-image {
    max-height: 100%;
    height: var(--blog-snippet-height);

    @media screen and (max-width: 750px) {
        display: none;
    }
}

/* Text analysis */
table.codepoint-table input {
    /* Arial renders Basmala better */
    font-family: Arial, system-ui;
}